:root {
  --dark-100: #878ea1;
  --dark-300: #292c34;
  --dark-200: #16181d;
  --neutralWhite: #e2e4e9;
  --orange: #ff8a00;

  --primary-text: 600 1rem/1.2 "Inconsolata", monospace;
  --secondary-text: 400 0.875rem/1.4 "Maven Pro", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  background-color: var(--dark-200);
}

body {
  font: var(--primary-text);
}

a {
  text-decoration: none;
  color: inherit;
}
