:root {
  --dark-100: #0d0e11;
  --dark-200: #16181d;
  --dark-300: #292c34;
  --dark-400: #878ea1;
  --dark-500: #e2e4e9;
  --alert: #e36463;

  --title-lg: 600 2.5rem/1.2 "Maven Pro", sans-serif;
  --title-md: 600 1.7rem/1.2 "Inconsolata", sans-serif;
  --title-sm: 600 1rem/1.2 "Inconsolata", sans-serif;
  --subtitle: 600 1rem/1.2 "Inconsolata", monospace;
  --text-sm: 400 1rem/1.4 "Maven Pro", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  background-color: var(--dark-200);
}

body {
  background-color: var(--dark-500);
}

a {
  text-decoration: none;
  color: inherit;
}
