header {
  height: 80px;
  background-color: var(--neutralBlack);
  color: var(--neutralWhite);

  > div {
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    padding: 0 20px;
    border-bottom: 2px solid var(--dark-200);
    display: flex;
    align-items: center;
    justify-content: space-between;

    .lang-select-wrapper {
      width: fit-content;
      border-radius: 10px;
      font: var(--text-sm);
      border: 1px solid var(--dark-200);

      & nav ul li {
        background-color: var(--neutralBlack);
        width: fit-content;
        display: inline-block;
        padding: 10px 20px;
        border-radius: 10px;
        color: var(--dark-100);
        font-weight: bold;
      }

      & nav ul li:hover {
        color: var(--orange) !important;
        cursor: pointer;
      }
    }
  }
}

.lang-selected {
  background-color: var(--neutralWhite) !important;
  color: var(--neutralBlack) !important;
}
