section#search {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
}

section#search form {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 620px;
}

#search-input {
  width: 100%;
  height: 56px;
  padding: 0 52px 0 16px;
  border-radius: 14px;
  border: 2px solid var(--neutralWhite);
  background: transparent;
  font-size: 18px;
  color: var(--neutralWhite);
  letter-spacing: 0.1em;
}

.search-btn {
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
  height: 56px;
  width: 52px;
  border-radius: 10px;
  border: 1px solid var(--neutralWhite);
  background-color: var(--neutralWhite);
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 36px;
    height: 36px;
    background: transparent;
  }
}

.search-btn:hover,
.search-btn img:hover {
  background-color: var(--orange);
  cursor: pointer;
}

#search-input::placeholder {
  color: var(--dark-100);
  opacity: 0.8;
  font-size: 14px;
}

.input-wrapper > div {
  display: flex;
  align-items: center;
  gap: 8px;
}

.input-wrapper input[type="checkbox"] {
  appearance: none;
  width: 18px;
  height: 18px;
  border: 2px solid var(--dark-200);
  border-radius: 50%;
  cursor: pointer;
  position: relative;
}

.input-wrapper input[type="checkbox"]:checked::after {
  content: "";
  width: 8px;
  height: 8px;
  background-color: var(--orange);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.input-wrapper label {
  font-size: 14px;
  color: var(--dark-100);
  cursor: pointer;
}

.input-search {
  position: relative;
  width: 100%;
}
